#navbar {
    height: 90vh;
    width: 18vw;
    background-color: black;
    color: white;
    position: fixed;
    top:0;
    left:0;
}

#spotify-logo {
    width: 16vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

a, a:hover, a:active {
    color: white;
    text-decoration: none;
}

#nav-links-section {
    display: flex;
    flex-direction: column;
    float: left;
}

#search-icon {
    margin-left: 22px;
    margin-top: 2vh;
}

.icon {
    margin-left: 15px;
    margin-right: 15px;
}

